@import "../../root.scss";

#footer{
  a{
    color: $branco;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  background-color: #1F2326 !important;
  padding: 2.5rem 0 0 0 ;
  .container-fluid{
    section{
      #col1{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        #footerLogo{
          display:flex;
          justify-content: center;
          h4{
            align-self: center;
            text-transform: uppercase;
          } 
        }
      }
      #col3 {
          display:flex;
          font-size: .8rem;
          justify-content: flex-end;
          text-align:left;
         
      }

      #col4 {
          display:flex;
          font-size: .8rem;
          justify-content: center;
          text-align: left;
         
      }
    }
    .footer-bottom{
      border-top: 3px solid rgb(4, 251, 65);
      padding-bottom: 0.8rem;
    }
  }
  

}
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small tablets and large smartphones (landscape view)
@media (max-width: $screen-sm-min) {
  #footer{
    .row{
      justify-content:center;
      align-items: center;
      article{
        width: 50%;
        justify-content:center !important;
        img{
          height: 50px;
        }
      }
    }
  }
}

// Small tablets and large smartphones (landscape view)
@media (min-width: $screen-sm-min) {}

// Small tablets (portrait view)
@media (min-width: $screen-md-min) {}

// Tablets and small desktops
@media (min-width: $screen-lg-min) {}

@media (min-width: $screen-xl-min) {}


