$branco: #f9f9f9;
$destaque: #00df5e;
$bg-color: #1d0133;
$bg-card: rgba(31, 35, 38, 0.5);
$bg-input: #460379;



// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;



//Loading
.modal-loading {
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner-border {
        width: 3rem;
        height: 3rem;
        color: $destaque;
    }
}