@import "../../../root.scss";

.content {
    min-height: calc(100vh - 193px - 40px - 76px);
    .jogo-completo {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 0 1rem;

        .jogo-info {
            display: flex;
            flex-direction: column;

            .linha {
                height: 1px;
                background-color: $destaque;
            }

            button {
                gap: 0.5rem;
                align-self: center;
                height: 2rem;
                white-space: nowrap;
                background-color: $destaque;
                border-bottom: 2px solid transparent !important;
                border-radius: 10px;
                border: none;

                &:hover {
                    background-color: $destaque;
                    border-bottom: 2px solid white !important;
                }
            }
        }
    }
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small tablets and large smartphones (landscape view)
@media (min-width: $screen-sm-min) {
    .content {
        min-height: calc(100vh - 243px - 40px - 76px);
        .jogo-completo {
            .jogo-imagem {
                text-align: center;
                img {
                    width: calc($screen-sm-min - 17px - 3rem * 2) !important;
                }
            }
        }
    }
}

// Small tablets (portrait view)
@media (min-width: $screen-md-min) {
    .content {
        .jogo-completo {
            .jogo-imagem {
                img {
                    width: 600px !important;
                }
            }
        }
    }
}

// Tablets and small desktops
@media (min-width: $screen-lg-min) {
    .content {
        .jogo-completo {
            flex-direction: row;
            .jogo-imagem {
                img {
                    width: 500px !important;
                }
            }

            .jogo-info {
                button {
                    justify-self: flex-end;
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (min-width: $screen-xl-min) {
    .content {
        .jogo-completo {
            width: $screen-xl-min;
            .jogo-imagem {
                img {
                    width: 700px !important;
                }
            }
        }
    }
}
