@import "../../root.scss";

.card-jogo {
    width: 300px;
    color: #ccc;
    overflow: hidden;
    border-radius: 5px;

    a {
        div {
            overflow: hidden;
            max-height: 160px;
            margin-bottom: 0.5rem;
            img {
                position: relative;
                top: 0;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        button {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            height: 2rem;
            white-space: nowrap;
            background-color: $branco;
            border-bottom: 2px solid transparent !important;
            border-radius: 10px;
            border: none;

            &:hover {
                background-color: $destaque;
                border-bottom: 2px solid $branco !important;
            }
        }
    }

    span {
        margin-left: 0.8rem;
        padding: 0.3rem;
        border-radius: 10px;
        font-size: 16px;
    }
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@media (min-width: $screen-sm-min) {
    .card-jogo {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
}

//Small tables
@media (min-width: $screen-lg-min) {
    .card-jogo {
        width: calc(33% - 2rem);
        margin: 1rem;
    }
}

//Large tables
@media (min-width: $screen-xl-min) {
    .card-jogo {
        width: calc(25% - 2rem);
    }
}
