@import '../../root.scss';

.parallax {
    display:flex;
    flex-direction:column;
    gap: 5rem;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url(../../img/fundo.png);
    background-attachment: fixed;
    background-position: center;

    color: $destaque;

    .apresentacao {
        margin: 0 2rem;

        h2,
        a {
            text-decoration: none;
        }

        a {
            button {
                font-weight: bold;
                color: $branco;
            }
        }
    }

    .recomendados {
        text-align: center;

        .react-multi-carousel-list {
            .react-multi-carousel-track {
                li {
                    img {
                        width: 80%;
                        border: solid 1px $destaque;
                        // box-shadow: 1px 1px 6px 0 $branco;
                    }
                }
            }
        }
    }
}
