@import "../../root.scss";

.parallax {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 76px);
    background-size: cover;
    background-image: url(../../assets/img/fundo.png);
    background-attachment: fixed;
    background-position: center;

    color: $branco;

    .apresentacao {
        margin: 0 2rem;

        h2,
        a {
            text-decoration: none;
        }

        a {
            button {
                font-weight: bold;
                color: $branco;
            }
        }
    }

    .recomendados {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    text-align: center;
                    background: rgb(0, 0, 0);
                    background: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 85%);

                    .card-jogo {
                        text-align: left;
                        display: inline-block;
                        border-radius: 5px;
                        overflow: hidden;
                    }
                }
            }

            .carousel-indicators {
                bottom: -30px;
            }
        }
    }
}

.jogos {
    display: flex;
    justify-content: center;

    .entrie-jogos {
        color: $branco;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .card-jogo {
            border-bottom: 1px solid transparent;
            border-radius: 5px;
            padding-bottom: 0.5rem;
            overflow: hidden;

            &:hover {
                background-color: #130020;
                border-bottom: 1px solid $destaque;
            }
        }
    }
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@media (min-width: $screen-sm-min) {
    .jogos {
        .entrie-jogos {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

//Large tables
@media (min-width: $screen-xl-min) {
    .jogos {
        .entrie-jogos {
            width: calc($screen-xl-min - 16px * 2);
        }
    }
}
