@import "../../root.scss";

#cadastro {
    color: white;
    background: rgba(31, 35, 38, 0.5);
    width: 80%;
    margin: 3rem auto;
    padding: 3rem;
    justify-items: center;
    h1 {
        text-transform: uppercase;
    }
    .linha {
        width: 100%;
        height: 3px;
        background-color: $destaque;
    }
    .form-cadastro {
        display: flex;
        flex-direction: column;
    }
    p {
        font-size: 10px;
        padding-left: 0.3rem;
    }
    .submit {
        background: $destaque;
        border-radius: 20px;
        margin: 0 auto;
    }
    .input-field {
        padding: 0 0.3rem;
        background: $bg-input;
        border-radius: 20px;
        border: none;
        color: $branco;
        &::placeholder {
            color: $branco;
        }
        display: block;
    }
    label {
        padding-left: 0.3rem;
    }
    .criarconta {
        .linklogin {
            color: $destaque;
            text-decoration: none;
        }
        text-align: center;
        margin: 0 auto;
    }
}